/*button*/

.btn {
  text-align: center;
  max-width: 158px;
  width: 100%;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #FFF;
  display: inline-block;
  padding: 15.5px 0;
  background: #D90000;
  border: 1px solid transparent;
  transition: all 0.5s ease;
  &:hover {
    background: #ddd;
    border-color: #ddd;
    color: #000;
  }
}
