@font-face {
  font-family: "socialico";
  src: url("fonts/Socialico/Socialico.eot");
  src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg");
}
@font-face {
  font-family: "socialico plus";
  src: url("fonts/SocialicoPlus/socialico-plus.eot");
  src: url("fonts/SocialicoPlus/socialico-plus.eot?#iefix") format("embedded-opentype"), url("fonts/SocialicoPlus/socialico-plus.woff2") format("woff2"), url("fonts/SocialicoPlus/socialico-plus.woff") format("woff"), url("fonts/SocialicoPlus/socialico-plus.ttf") format("truetype"), url("fonts/SocialicoPlus/socialico-plus.svg#lobster_1.4regular") format("svg");
}
@font-face {
    font-family: 'Maven Pro';
    src: url('fonts/MavenPro/MavenProRegular.woff2') format('woff2'),
        url('fonts/MavenPro/MavenProRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans/OpenSans.woff2') format('woff2'),
        url('fonts/OpenSans/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Maven Pro';
    src: url('fonts/MavenPro/MavenProBlack.woff2') format('woff2'),
        url('fonts/MavenPro/MavenProBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
        url('fonts/Montserrat/Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('fonts/Montserrat/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('fonts/Montserrat/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
