/*banner*/

#banner {
  position: relative;
  max-height: 852px;
  .slider{
    max-width: 100%;
    width: 100%;
    img{
      width: 100%;
      height: 852px;
      object-fit: cover;
    }
  }
  .header-logo{
    position: absolute;
    top: 86px;
    left: 50%;
    transform: translateX(-50%);
  }
  .row{
    max-width: 1440px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 184px;
    padding: 46px 0 0;
  }
  h1{
    @include font("Maven Pro",900,85px,0,73%,#FFFFFF);
    text-shadow: 0 0 50px #000000, 0 0 60px #000000;
    margin: 0 auto 35px;
    span{
      display: block;
      font-weight: 400;
      font-size: 45px;
    }
  }
}
