/*footer*/

#footer {
  .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px;
  }
  .footer-top{
    background: #D90000;
    .row{
      max-width: 100%;
      width: 100%;
      @include flex(row,wrap,center,stretch);
    }
    .contact-info{
      @include flex-basis(1920px, 645px);
      @include width(1920px, 645px);
      min-height: 394px;
      padding: 40px 0;
      @include flex(column,wrap,space-around,center)
      .address{
        width: 95%;
        h3{
          @include font("Montserrat",700,20px,normal,120%,#FFFFFF);
          padding: 35px 0 0;
          position: relative;
          &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background: url('../images/common/icon-sprites.png') no-repeat -2px 0;
	          width: 22px;
	          height: 26px;
          }
        }
        p{
          margin: 0;
          @include font("Montserrat",700,18px,normal,120%,#FFFFFF);
        }
      }
      .phone{
        width: 95%;
        h3{
          @include font("Montserrat",700,20px,normal,120%,#FFFFFF);
          padding: 35px 0 0;
          position: relative;
          &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background: url('../images/common/icon-sprites.png') no-repeat 0px -38px;
	          width: 26px;
	          height: 26px;
          }
        }
        p{
          margin: 0;
          @include font("Montserrat",700,30px,normal,120%,#FFFFFF);
        }
      }
      .email{
        width: 95%;
        h3{
          @include font("Montserrat",700,20px,normal,120%,#FFFFFF);
          padding: 35px 0 0;
          position: relative;
          &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background: url('../images/common/icon-sprites.png') no-repeat 0px -78px;
	          width: 26px;
	          height: 20px;
          }
        }
        p{
          margin: 0;
          @include font("Montserrat",700,18px,normal,120%,#FFFFFF);
        }
      }
    }
    iframe{
      @include flex-basis(1920px, 1275px);
      @include width(1920px, 1275px);
      border:0;
    }
  }
  .footer-mid{
    background: url(../images/common/quickBg.jpg)no-repeat center top;
    background-size: cover;
    padding: 50px 0;
    .row{
      max-width: 1480px;
      width: 95%;
    }
    h2{
      font-size: 65px;
      line-height: 120%;
      color: #FFF;
    }
    h3{
      @include font("Montserrat",400,25px,normal,120%,#FFFFFF);
    }
    form{
      margin: 70px 0 0;
      input[type="text"],textarea{
        padding: 10px 0;
        @include font("Montserrat",400,13px,normal,120%,#FFFFFF);
        background: none;
        border:0;
        border-radius: 0;
        border-bottom: 1px solid #FFFFFF;
      }
      textarea{
        height: 70px;
      }
      input[type="text"]::placeholder,textarea::placeholder{
        @include font("Montserrat",400,13px,normal,120%,#FFFFFF);
        text-transform: uppercase;
      }
      .form-top{
        @include flex(row,wrap,space-between,center);
        label{
          @include flex-basis(1480px, 465px);
          @include width(1480px, 465px);
        }
      }
      .form-bottom{
        label{
          margin: 1em auto;
          @include font("Montserrat",400,13px,normal,120%,#FFFFFF);
        }
      }
    }
  }
  .footer-bottom{
    background: #000000;
    .row{
      max-width: 1388px;
      @include flex(row,wrap,space-between,center);
    }
    .left{
      text-align: left;
      p{
        margin: 2px auto;
        font-size: 13px;
        font-weight: 400;
        color: #FFF;
        text-transform: uppercase;
      }
    }
    .right{
      text-align: right;
      .social-media{
        a{
          font-family: "socialico";
          font-weight: 400;
          font-size: 20px;
          letter-spacing: 20px;
          color: #FFF;
        }
      }
    }
  }
}
