/*header*/

#header {
  .row{
    max-width: 1440px;
    @include flex(row,wrap,space-between,center);
  }
  nav {
    a#pull {
      display: none;
    }
    ul {
      margin: 0;
      padding: 0;
      @include flex(row,wrap,space-between,center);
      li {
        display: inline-block;
        vertical-align: middle;
        a {
          display: inline-block;
          @include font("Montserrat",700,15px,3px,normal,#212121);
        }
        &.active-menu a, a:hover {
          color: #D90000;
        }
      }
    }
  }
  .hdLeft{
    @include width(1440px, 1000px);
    @include flex-basis(1440px, 1000px);
  }
  .hdRight{
    @include width(1440px, 327px);
    @include flex-basis(1440px, 327px);
    p.header-phone{
      background: #D90000;
      padding: 32px 0;
      margin: 0;
      a{
        @include font("Montserrat",800,25px,3px,33px,#FFFFFF);
        padding: 0 0 0 55px;
        position: relative;
        &::before{
          content:"";
          width: 33px;
          height: 33px;
          position: absolute;
          background: url(../images/common/phone-icon.png)no-repeat;
          top: 0;
          left: 0;
        }
      }
    }
  }
}
