#services{
  .row{
    max-width: 100%;
  }
  .text{
    padding: 70px 0 40px;
    p{
      max-width: 1160px;
      margin: 20px auto 0;
    }
  }
  .container{
    @include flex(row,wrap,center,stretch);
    dl{
      @include flex-basis(1920px,640px);
      @include width(1920px,640px);
      dt{
        img{
          width: 100%;
          margin-bottom: -4px;
        }
        p{
          margin: 0;
          padding: 15px 0;
          @include font("Montserrat",700,25px,normal,normal,#FFF);
        }
      }
      dd{
        margin: 0;
        padding: 35px 0;
        p{
          max-width: 450px;
          width: 95%;
          margin: 0 auto;
          padding: 20px 0;
          font-size: 15px;
          color: #000;
          &:first-child{
            position: relative;
            &::before{
              content: "";
              width: 75px;
              height: 1px;
              background: #D90000;
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
      }
      &:nth-of-type(odd){
        dt{
          p{
            background: #222222;
          }
        }
      }
      &:nth-of-type(even){
        dt{
          p{
            background: #000000;
          }
        }      
      }
    }
  }
}
