#gallery{
  padding: 70px 0;
  .row{
    max-width: 1198px;
  }
  h2{
    font-size: 65px;
    line-height: 78px;
  }
  .container1{
    margin: 60px 0 13.5px;
    @include flex(row,wrap,space-around,center);
    .gallery1{
      @include flex-basis(1198px,272px);
      @include width(1198px,272px);
    }
    .gallery2{
      @include flex-basis(1198px,572px);
      @include width(1198px,272px);
    }
    .gallery3{
      @include flex-basis(1198px,272px);
      @include width(1198px,272px);
    }
  }
  .container2{
    margin: 13.5px 0 30px;
    @include flex(row,wrap,space-around,center);
      .left{
        @include flex-basis(1198px,372px);
        @include width(1198px,372px);
        .gallery4{
          width: 100%;
          margin: 13.5px 0;
        }
        .gallery7{
          width: 100%;
          margin: 13.5px 0;
        }
      }
      .mid{
        @include flex-basis(1198px,372px);
        @include width(1198px,372px);
        .gallery5{
          width: 100%;
          margin: 13.5px 0;
        }
        .gallery8{
          width: 100%;
          margin: 13.5px 0;
        }
      }
      .right{
        @include flex-basis(1198px,372px);
        @include width(1198px,372px);
        .gallery6{
          width: 100%;
          margin: 13.5px 0;
        }
        .gallery9{
          width: 100%;
          margin: 13.5px 0;
        }
      }
    }
  }
