#testimonials{
  background: #F7F7F7;
  padding: 67px 0 52px;
  .row{
    max-width: 1306px;
  }
  h2{
    line-height: 120%;
    font-size: 65px;
  }
  h3{
    @include font("Montserrat",400,25px,normal,120%,#212121);
  }
  p{
    margin: 30px auto;
  }
  p.stars{
    margin: 0 auto;
    font-size: 30px;
    color: #FFBF00;
  }
  p.author{
    margin: 0 auto;
    font-size: 20px;
    line-height: 120%;
    color: #1F1F1F;
  }
}
