#company{
  .row{
    max-width: 1920px;
    @include flex(row,wrap,center,stretch)
  }
  .text{
    padding: 67px 0;
    margin: 0 0 0 auto;
    @include flex-basis(1920px, 1116px);
    @include width(1920px, 1116px);
    text-align: left;
    h1{
      max-width: 593px;
      @include font("Montserrat",700,65px,normal,100%,#202020);
    }
    p{
      max-width: 827px;
      width: 95%;
      @include font("Montserrat",700,18px,normal,180%,#202020);
    }
  }
  .images{
    @include flex-basis(1920px, 587px);
    @include width(1920px, 587px);
    .gun1{
      width: 100%;
      height: 441px;
      object-fit: cover;
      object-position: right;
    }
    .gun2{
      width: 100%;
      height: 332px;
      object-fit: cover;
      object-position: left;
    }
  }
}
