/*inner pages*/

.inner #content {
  min-height: 400px;
  padding: 40px 0;
}
.inner #content h2{
  color: #D90000;
  font-size: 35px;
}
.services-page #content .service-box{
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 40px -15px;
  margin: 20px 0 0;
}
.reviews-page #content .reviews-box{
  text-align: left;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 40px -15px;
  margin: 20px 0 0;
  p.header{
    font-size: 15px;
    color: #d90000;
    span{
      color: #FFBF00;
      font-size: 20px;
      margin-right: 10px;
    }
  }
}
.gallery-container{
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 40px -15px;
  margin: 20px 0 0;
}
.gallery-container h2{
  margin: 0 0 40px;
}
