@media screen and (max-width: 800px){
  [class*="col-"] {
    width: 100%;
  }
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #D90000; padding: 0 15px;background: #000000;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;color: #FFFFFF;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #D90000; border-top: 2px solid #000;border-bottom: 2px solid #000;height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}
  #header .hdLeft{padding: 0}
  #header .hdLeft nav{padding: 0}
  #banner .slider img{height: auto;}
  #banner .header-logo{top: 0;width: 80%;}
  #banner {background: #000000;}
  #banner .row{position: relative; bottom: auto;padding: 20px 0;}
  #banner h1{line-height: 100%;text-shadow: none;}
  #banner h1 span{line-height: 100%;}
  #services .container dl{flex-basis: 100%; width: 100%;}
  #gallery{padding: 20px 0;}
  #gallery .container1 {margin: 2vh 0 13.5px;}
  #footer .footer-top .contact-info{flex-basis: 100%; width: 100%;}
  #footer .footer-top iframe{flex-basis: 100%; width: 100%;}
  #footer .footer-mid form .form-top label{flex-basis: 100%; width: 100%;}
	.cta{background: #D90000  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #D90000 ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}
