@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
  #header .row{width: 100%}
  #header .hdLeft nav{padding: 0 20px}
  #header .hdLeft, #header .hdRight p.header-phone{padding: 20px 0;}
  #header .hdLeft, #header .hdRight{
    flex-basis: 100%;
    width: 100%;
  }
  #banner h1{font-size: 70px;}
  #banner h1 span{font-size: 35px;}
	#company .text,#company .images{flex-basis: 100%; width: 100%;}
	#company .text{margin: auto;}
	#company .images{@include flex(row,wrap,center,center)};
	#company .images .gun1,#company .images .gun2{width: 50%; height: auto;object-fit: contain;}
	#services .container dl{flex-basis: 50%; width: 50%;}
	#footer .footer-bottom .left{text-align: center; width: 100%;}
	#footer .footer-bottom .right{text-align: center; width: 100%;}
}
