@media screen and (max-width:480px){
  h1{font-size: 14vw;}
  h2{font-size: 14vw;}
  #banner h1 {font-size: 14vw;}
  #banner h1 span {font-size: 8vw;}
  #company .text h1{font-size: 12vw;}
  #gallery h2{font-size: 14vw;}
  #testimonials h2{font-size: 14vw;}
  #footer .footer-mid h2{font-size: 14vw;}
}
