@font-face { font-family: "socialico"; src: url("fonts/Socialico/Socialico.eot"); src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg"); }

@font-face { font-family: "socialico plus"; src: url("fonts/SocialicoPlus/socialico-plus.eot"); src: url("fonts/SocialicoPlus/socialico-plus.eot?#iefix") format("embedded-opentype"), url("fonts/SocialicoPlus/socialico-plus.woff2") format("woff2"), url("fonts/SocialicoPlus/socialico-plus.woff") format("woff"), url("fonts/SocialicoPlus/socialico-plus.ttf") format("truetype"), url("fonts/SocialicoPlus/socialico-plus.svg#lobster_1.4regular") format("svg"); }

@font-face { font-family: 'Maven Pro'; src: url("fonts/MavenPro/MavenProRegular.woff2") format("woff2"), url("fonts/MavenPro/MavenProRegular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Open Sans'; src: url("fonts/OpenSans/OpenSans.woff2") format("woff2"), url("fonts/OpenSans/OpenSans.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Maven Pro'; src: url("fonts/MavenPro/MavenProBlack.woff2") format("woff2"), url("fonts/MavenPro/MavenProBlack.woff") format("woff"); font-weight: 900; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"); font-weight: 800; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

.suspension-contain { max-height: 980px; overflow: hidden; position: relative; z-index: 999999; }

html.suspended { background: rgba(0, 0, 0, 0.6); }

body { max-width: 100%; min-width: 1200px; margin: 0 auto; text-align: center; font-family: "Montserrat"; }

a { color: inherit; text-decoration: none; }

a:hover { text-decoration: none; color: inherit; }

h1, h2, h3, h4, h5 { padding: 0; margin: 0; }

.row { max-width: 1200px; margin: 0 auto; }

/*floats*/
.fl { float: left; }

.fr { float: right; }

/*grids*/
.col-1 { width: 8.33%; }

.col-2 { width: 16.66%; }

.col-3 { width: 25%; }

.col-4 { width: 33.33%; }

.col-5 { width: 41.66%; }

.col-6 { width: 50%; }

.col-7 { width: 58.33%; }

.col-8 { width: 66.66%; }

.col-9 { width: 75%; }

.col-10 { width: 83.33%; }

.col-11 { width: 91.66%; }

.col-12 { width: 100%; }

/*typography*/
.text-primary { color: #B11414; }

.text-bold { font-weight: 700; }

.text-uppercase { text-transform: uppercase; }

.text-center { text-align: center !important; }

.text-left { text-align: left; }

/*button*/
.btn { text-align: center; max-width: 158px; width: 100%; font-family: "Open Sans"; font-size: 12px; font-weight: 700; letter-spacing: 3px; color: #FFF; display: inline-block; padding: 15.5px 0; background: #D90000; border: 1px solid transparent; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.btn:hover { background: #ddd; border-color: #ddd; color: #000; }

/*clearings*/
.clear { clear: both; }

.clearfix { display: block; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom { font-size: 14px; padding: 5px 10px; position: fixed; display: block !important; -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; bottom: 0 !important; left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta { display: none; }

/*contact form messages*/
form .messages p { display: none; font-family: Arial !important; font-weight: 400 !important; letter-spacing: 0 !important; font-size: 16px !important; }

form .loading { display: none; }

form .alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }

form .alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }

form .alert-danger { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }

form [type="submit"] { margin: 20px auto; }

/*contact form*/
.ctc-form { margin: 0 auto; text-align: center; }

.ctc-form input[type="text"] { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; }

.ctc-form textarea { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; height: 120px; padding-top: 10px; }

.ctc-form button { display: block; }

.ctc-form .recap { display: inline-block; }

.ctc-form .g-recaptcha div { margin: 0 auto 10px; }

.ctc-form .ctc-hide { display: none; }

/*gallery*/
#content .gallery-container { text-align: center; }

#content .gallery { list-style-type: none; margin: 0; padding: 0; }

#content .gallery li { display: inline-block; }

#content .thumbnail { background-color: #fff; border: 1px solid #ddd; border-radius: 4px; display: block; line-height: .42857; margin-bottom: 20px; padding: 4px; -webkit-transition: border 0.5s ease-in-out 0s; -o-transition: border 0.5s ease-in-out 0s; transition: border 0.5s ease-in-out 0s; }

#content .thumbnail:hover { -webkit-transform: scale(1.02); -ms-transform: scale(1.02); transform: scale(1.02); }

#content .page_navigation { display: inline-block; }

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse { background-color: #fff; border: 1px solid #ddd; color: #0275d8; display: inline-block; line-height: 1.25; margin-left: -1px; padding: 0.5rem 0.75rem; position: relative; }

#content .page_navigation > a:hover { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

.page_navigation > a.active_page { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

h1 { font-family: "Montserrat"; font-weight: 700; font-size: 45px; letter-spacing: normal; line-height: 120%; color: #202020; }

h2 { font-family: "Montserrat"; font-weight: 700; font-size: 45px; letter-spacing: normal; line-height: 120%; color: #202020; }

p { font-family: "Montserrat"; font-weight: 700; font-size: 18px; letter-spacing: normal; line-height: 180%; color: #202020; }

/*header*/
#header .row { max-width: 1440px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#header nav a#pull { display: none; }

#header nav ul { margin: 0; padding: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#header nav ul li { display: inline-block; vertical-align: middle; }

#header nav ul li a { display: inline-block; font-family: "Montserrat"; font-weight: 700; font-size: 15px; letter-spacing: 3px; line-height: normal; color: #212121; }

#header nav ul li.active-menu a, #header nav ul li a:hover { color: #D90000; }

#header .hdLeft { width: 69.44444%; -ms-flex-preferred-size: 69.44444%; flex-basis: 69.44444%; }

#header .hdRight { width: 22.70833%; -ms-flex-preferred-size: 22.70833%; flex-basis: 22.70833%; }

#header .hdRight p.header-phone { background: #D90000; padding: 32px 0; margin: 0; }

#header .hdRight p.header-phone a { font-family: "Montserrat"; font-weight: 800; font-size: 25px; letter-spacing: 3px; line-height: 33px; color: #FFFFFF; padding: 0 0 0 55px; position: relative; }

#header .hdRight p.header-phone a::before { content: ""; width: 33px; height: 33px; position: absolute; background: url(../images/common/phone-icon.png) no-repeat; top: 0; left: 0; }

/*banner*/
#banner { position: relative; max-height: 852px; }

#banner .slider { max-width: 100%; width: 100%; }

#banner .slider img { width: 100%; height: 852px; -o-object-fit: cover; object-fit: cover; }

#banner .header-logo { position: absolute; top: 86px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#banner .row { max-width: 1440px; margin: 0 auto; position: absolute; left: 0; right: 0; bottom: 184px; padding: 46px 0 0; }

#banner h1 { font-family: "Maven Pro"; font-weight: 900; font-size: 85px; letter-spacing: 0; line-height: 73%; color: #FFFFFF; text-shadow: 0 0 50px #000000, 0 0 60px #000000; margin: 0 auto 35px; }

#banner h1 span { display: block; font-weight: 400; font-size: 45px; }

/*-----------------------------------------------------------------
------------------------------COMPANY------------------------------
-----------------------------------------------------------------*/
#company .row { max-width: 1920px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#company .text { padding: 67px 0; margin: 0 0 0 auto; -ms-flex-preferred-size: 58.125%; flex-basis: 58.125%; width: 58.125%; text-align: left; }

#company .text h1 { max-width: 593px; font-family: "Montserrat"; font-weight: 700; font-size: 65px; letter-spacing: normal; line-height: 100%; color: #202020; }

#company .text p { max-width: 827px; width: 95%; font-family: "Montserrat"; font-weight: 700; font-size: 18px; letter-spacing: normal; line-height: 180%; color: #202020; }

#company .images { -ms-flex-preferred-size: 30.57292%; flex-basis: 30.57292%; width: 30.57292%; }

#company .images .gun1 { width: 100%; height: 441px; -o-object-fit: cover; object-fit: cover; -o-object-position: right; object-position: right; }

#company .images .gun2 { width: 100%; height: 332px; -o-object-fit: cover; object-fit: cover; -o-object-position: left; object-position: left; }

/*-----------------------------------------------------------------
-----------------------------SERVICES-----------------------------
-----------------------------------------------------------------*/
#services .row { max-width: 100%; }

#services .text { padding: 70px 0 40px; }

#services .text p { max-width: 1160px; margin: 20px auto 0; }

#services .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#services .container dl { -ms-flex-preferred-size: 33.33333%; flex-basis: 33.33333%; width: 33.33333%; }

#services .container dl dt img { width: 100%; margin-bottom: -4px; }

#services .container dl dt p { margin: 0; padding: 15px 0; font-family: "Montserrat"; font-weight: 700; font-size: 25px; letter-spacing: normal; line-height: normal; color: #FFF; }

#services .container dl dd { margin: 0; padding: 35px 0; }

#services .container dl dd p { max-width: 450px; width: 95%; margin: 0 auto; padding: 20px 0; font-size: 15px; color: #000; }

#services .container dl dd p:first-child { position: relative; }

#services .container dl dd p:first-child::before { content: ""; width: 75px; height: 1px; background: #D90000; position: absolute; top: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#services .container dl:nth-of-type(odd) dt p { background: #222222; }

#services .container dl:nth-of-type(even) dt p { background: #000000; }

/*-----------------------------------------------------------------
------------------------------GALLERY------------------------------
-----------------------------------------------------------------*/
#gallery { padding: 70px 0; }

#gallery .row { max-width: 1198px; }

#gallery h2 { font-size: 65px; line-height: 78px; }

#gallery .container1 { margin: 60px 0 13.5px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#gallery .container1 .gallery1 { -ms-flex-preferred-size: 22.70451%; flex-basis: 22.70451%; width: 22.70451%; }

#gallery .container1 .gallery2 { -ms-flex-preferred-size: 47.74624%; flex-basis: 47.74624%; width: 22.70451%; }

#gallery .container1 .gallery3 { -ms-flex-preferred-size: 22.70451%; flex-basis: 22.70451%; width: 22.70451%; }

#gallery .container2 { margin: 13.5px 0 30px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#gallery .container2 .left { -ms-flex-preferred-size: 31.05175%; flex-basis: 31.05175%; width: 31.05175%; }

#gallery .container2 .left .gallery4 { width: 100%; margin: 13.5px 0; }

#gallery .container2 .left .gallery7 { width: 100%; margin: 13.5px 0; }

#gallery .container2 .mid { -ms-flex-preferred-size: 31.05175%; flex-basis: 31.05175%; width: 31.05175%; }

#gallery .container2 .mid .gallery5 { width: 100%; margin: 13.5px 0; }

#gallery .container2 .mid .gallery8 { width: 100%; margin: 13.5px 0; }

#gallery .container2 .right { -ms-flex-preferred-size: 31.05175%; flex-basis: 31.05175%; width: 31.05175%; }

#gallery .container2 .right .gallery6 { width: 100%; margin: 13.5px 0; }

#gallery .container2 .right .gallery9 { width: 100%; margin: 13.5px 0; }

/*-----------------------------------------------------------------
----------------------------TESTIONIALS----------------------------
-----------------------------------------------------------------*/
#testimonials { background: #F7F7F7; padding: 67px 0 52px; }

#testimonials .row { max-width: 1306px; }

#testimonials h2 { line-height: 120%; font-size: 65px; }

#testimonials h3 { font-family: "Montserrat"; font-weight: 400; font-size: 25px; letter-spacing: normal; line-height: 120%; color: #212121; }

#testimonials p { margin: 30px auto; }

#testimonials p.stars { margin: 0 auto; font-size: 30px; color: #FFBF00; }

#testimonials p.author { margin: 0 auto; font-size: 20px; line-height: 120%; color: #1F1F1F; }

/*footer*/
#footer .silver img { display: inline-block; vertical-align: middle; max-width: 50px; }

#footer .footer-top { background: #D90000; }

#footer .footer-top .row { max-width: 100%; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#footer .footer-top .contact-info { -ms-flex-preferred-size: 33.59375%; flex-basis: 33.59375%; width: 33.59375%; min-height: 394px; padding: 40px 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#footer .footer-top .contact-info .address { width: 95%; }

#footer .footer-top .contact-info .address h3 { font-family: "Montserrat"; font-weight: 700; font-size: 20px; letter-spacing: normal; line-height: 120%; color: #FFFFFF; padding: 35px 0 0; position: relative; }

#footer .footer-top .contact-info .address h3::before { content: ""; position: absolute; top: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); background: url("../images/common/icon-sprites.png") no-repeat -2px 0; width: 22px; height: 26px; }

#footer .footer-top .contact-info .address p { margin: 0; font-family: "Montserrat"; font-weight: 700; font-size: 18px; letter-spacing: normal; line-height: 120%; color: #FFFFFF; }

#footer .footer-top .contact-info .phone { width: 95%; }

#footer .footer-top .contact-info .phone h3 { font-family: "Montserrat"; font-weight: 700; font-size: 20px; letter-spacing: normal; line-height: 120%; color: #FFFFFF; padding: 35px 0 0; position: relative; }

#footer .footer-top .contact-info .phone h3::before { content: ""; position: absolute; top: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); background: url("../images/common/icon-sprites.png") no-repeat 0px -38px; width: 26px; height: 26px; }

#footer .footer-top .contact-info .phone p { margin: 0; font-family: "Montserrat"; font-weight: 700; font-size: 30px; letter-spacing: normal; line-height: 120%; color: #FFFFFF; }

#footer .footer-top .contact-info .email { width: 95%; }

#footer .footer-top .contact-info .email h3 { font-family: "Montserrat"; font-weight: 700; font-size: 20px; letter-spacing: normal; line-height: 120%; color: #FFFFFF; padding: 35px 0 0; position: relative; }

#footer .footer-top .contact-info .email h3::before { content: ""; position: absolute; top: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); background: url("../images/common/icon-sprites.png") no-repeat 0px -78px; width: 26px; height: 20px; }

#footer .footer-top .contact-info .email p { margin: 0; font-family: "Montserrat"; font-weight: 700; font-size: 18px; letter-spacing: normal; line-height: 120%; color: #FFFFFF; }

#footer .footer-top iframe { -ms-flex-preferred-size: 66.40625%; flex-basis: 66.40625%; width: 66.40625%; border: 0; }

#footer .footer-mid { background: url(../images/common/quickBg.jpg) no-repeat center top; background-size: cover; padding: 50px 0; }

#footer .footer-mid .row { max-width: 1480px; width: 95%; }

#footer .footer-mid h2 { font-size: 65px; line-height: 120%; color: #FFF; }

#footer .footer-mid h3 { font-family: "Montserrat"; font-weight: 400; font-size: 25px; letter-spacing: normal; line-height: 120%; color: #FFFFFF; }

#footer .footer-mid form { margin: 70px 0 0; }

#footer .footer-mid form input[type="text"], #footer .footer-mid form textarea { padding: 10px 0; font-family: "Montserrat"; font-weight: 400; font-size: 13px; letter-spacing: normal; line-height: 120%; color: #FFFFFF; background: none; border: 0; border-radius: 0; border-bottom: 1px solid #FFFFFF; }

#footer .footer-mid form textarea { height: 70px; }

#footer .footer-mid form input[type="text"]::-webkit-input-placeholder, #footer .footer-mid form textarea::-webkit-input-placeholder { font-family: "Montserrat"; font-weight: 400; font-size: 13px; letter-spacing: normal; line-height: 120%; color: #FFFFFF; text-transform: uppercase; }

#footer .footer-mid form input[type="text"]:-ms-input-placeholder, #footer .footer-mid form textarea:-ms-input-placeholder { font-family: "Montserrat"; font-weight: 400; font-size: 13px; letter-spacing: normal; line-height: 120%; color: #FFFFFF; text-transform: uppercase; }

#footer .footer-mid form input[type="text"]::-ms-input-placeholder, #footer .footer-mid form textarea::-ms-input-placeholder { font-family: "Montserrat"; font-weight: 400; font-size: 13px; letter-spacing: normal; line-height: 120%; color: #FFFFFF; text-transform: uppercase; }

#footer .footer-mid form input[type="text"]::placeholder, #footer .footer-mid form textarea::placeholder { font-family: "Montserrat"; font-weight: 400; font-size: 13px; letter-spacing: normal; line-height: 120%; color: #FFFFFF; text-transform: uppercase; }

#footer .footer-mid form .form-top { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#footer .footer-mid form .form-top label { -ms-flex-preferred-size: 31.41892%; flex-basis: 31.41892%; width: 31.41892%; }

#footer .footer-mid form .form-bottom label { margin: 1em auto; font-family: "Montserrat"; font-weight: 400; font-size: 13px; letter-spacing: normal; line-height: 120%; color: #FFFFFF; }

#footer .footer-bottom { background: #000000; }

#footer .footer-bottom .row { max-width: 1388px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#footer .footer-bottom .left { text-align: left; }

#footer .footer-bottom .left p { margin: 2px auto; font-size: 13px; font-weight: 400; color: #FFF; text-transform: uppercase; }

#footer .footer-bottom .right { text-align: right; }

#footer .footer-bottom .right .social-media a { font-family: "socialico"; font-weight: 400; font-size: 20px; letter-spacing: 20px; color: #FFF; }

/*inner pages*/
.inner #content { min-height: 400px; padding: 40px 0; }

.inner #content h2 { color: #D90000; font-size: 35px; }

.services-page #content .service-box { padding: 20px 30px; border-radius: 10px; -webkit-box-shadow: 0 0 40px -15px; box-shadow: 0 0 40px -15px; margin: 20px 0 0; }

.reviews-page #content .reviews-box { text-align: left; padding: 20px 30px; border-radius: 10px; -webkit-box-shadow: 0 0 40px -15px; box-shadow: 0 0 40px -15px; margin: 20px 0 0; }

.reviews-page #content .reviews-box p.header { font-size: 15px; color: #d90000; }

.reviews-page #content .reviews-box p.header span { color: #FFBF00; font-size: 20px; margin-right: 10px; }

.gallery-container { padding: 20px 30px; border-radius: 10px; -webkit-box-shadow: 0 0 40px -15px; box-shadow: 0 0 40px -15px; margin: 20px 0 0; }

.gallery-container h2 { margin: 0 0 40px; }

/*privacy policy*/
.inPrivacyBox { max-width: 850px; margin: 0 auto; }

.inPrivacyBox p { text-align: justify !important; }

/** Responsive
-------------------------------------------------------*/
/*@media screen and (max-width:1440px){

}*/
/*@media screen and (max-width:1280px){

}*/
@media screen and (max-width: 1024px) { body { min-width: 320px; }
  .row { width: 95%; }
  #header .row { width: 100%; }
  #header .hdLeft nav { padding: 0 20px; }
  #header .hdLeft, #header .hdRight p.header-phone { padding: 20px 0; }
  #header .hdLeft, #header .hdRight { -ms-flex-preferred-size: 100%; flex-basis: 100%; width: 100%; }
  #banner h1 { font-size: 70px; }
  #banner h1 span { font-size: 35px; }
  #company .text, #company .images { -ms-flex-preferred-size: 100%; flex-basis: 100%; width: 100%; }
  #company .text { margin: auto; }
  #company .images { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  #company .images .gun1, #company .images .gun2 { width: 50%; height: auto; -o-object-fit: contain; object-fit: contain; }
  #services .container dl { -ms-flex-preferred-size: 50%; flex-basis: 50%; width: 50%; }
  #footer .footer-bottom .left { text-align: center; width: 100%; }
  #footer .footer-bottom .right { text-align: center; width: 100%; } }

@media screen and (max-width: 800px) { [class*="col-"] { width: 100%; }
  #header { padding: 0; }
  #header .row { width: 100%; }
  #header nav { display: block; height: auto; }
  #header nav ul { width: 100%; display: none; height: auto; border-bottom: 5px solid #D90000; padding: 0 15px; background: #000000; }
  #header nav ul li { width: 100%; position: relative; }
  #header nav ul li a { display: block; float: none; padding: 10px 0; color: #FFFFFF; }
  #header nav a { text-align: left; width: 100%; }
  #header nav a strong { position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 15px; }
  #header nav a#pull { display: block; color: #fff; background-color: #D90000; border-top: 2px solid #000; border-bottom: 2px solid #000; height: 30px; padding: 10px 0; width: 100%; position: relative; }
  #header nav a#pull:after { content: ""; background: url("../images/nav-icon.png") no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
  #header .hdLeft { padding: 0; }
  #header .hdLeft nav { padding: 0; }
  #banner .slider img { height: auto; }
  #banner .header-logo { top: 0; width: 80%; }
  #banner { background: #000000; }
  #banner .row { position: relative; bottom: auto; padding: 20px 0; }
  #banner h1 { line-height: 100%; text-shadow: none; }
  #banner h1 span { line-height: 100%; }
  #services .container dl { -ms-flex-preferred-size: 100%; flex-basis: 100%; width: 100%; }
  #gallery { padding: 20px 0; }
  #gallery .container1 { margin: 2vh 0 13.5px; }
  #footer .footer-top .contact-info { -ms-flex-preferred-size: 100%; flex-basis: 100%; width: 100%; }
  #footer .footer-top iframe { -ms-flex-preferred-size: 100%; flex-basis: 100%; width: 100%; }
  #footer .footer-mid form .form-top label { -ms-flex-preferred-size: 100%; flex-basis: 100%; width: 100%; }
  .cta { background: #D90000 url("../images/common/phonecall.png") no-repeat center center; border-bottom-left-radius: 40px; border-top: 2px solid #D90000; border-top-left-radius: 40px; bottom: 1%; display: block; height: 80px; position: fixed; right: 0; text-decoration: none; text-indent: -9999em; width: 100px; z-index: 999; } }

/*@media screen and (max-width:640px){

}*/
@media screen and (max-width: 480px) { h1 { font-size: 14vw; }
  h2 { font-size: 14vw; }
  #banner h1 { font-size: 14vw; }
  #banner h1 span { font-size: 8vw; }
  #company .text h1 { font-size: 12vw; }
  #gallery h2 { font-size: 14vw; }
  #testimonials h2 { font-size: 14vw; }
  #footer .footer-mid h2 { font-size: 14vw; } }

/*@media screen and (max-width:400px){

}*/
/*@media screen and (max-width:320px){

}*/
